@media screen and (max-width: 960px) {

.carousel-fixed-text {
  background-color: rgba(0, 0, 0, .3);
}
.carousel-fixed-text p {
  font-size: calc(16px + 8 * ((100vw - 320px) / 640));
  font-weight: 600;
}
.contact h3 {
  font-size: calc(16px + 8 * ((100vw - 320px) / 640));
}

/* 下層ページ 画像上の文字 */
.hero-fixed-text h3{
  font-size: calc(14px + 2 * ((100vw - 320px) / 640));
  font-weight: 600;
}
.hero-fixed-text h2{
  font-size: calc(16px + 4 * ((100vw - 320px) / 640));
  font-weight: 600;
}
.section-header h2{
  font-size: calc(16px + 4 * ((100vw - 320px) / 640));
  font-weight: 600;
}
.hero-fixed-text span{
  font-size: calc(16px + 4 * ((100vw - 320px) / 640));
  font-weight: 600;
}


}