* {
  box-sizing: border-box;
}
body {
  background-image: url(../img/background2.webp);
  background-size: cover;
  font-family: 'Noto Serif JP', serif;
  font-family: 'Klee One', 'cursive', serif;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color:white
}

/* プリローダーのスタイル */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f8f3; /* ソフトな緑色の背景 */
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .leaf-loader {
  width: 60px;
  height: 60px;
  background: url('../img/leaf.png') no-repeat center center;
  background-size: contain;
  animation: spinLeaf 2s linear infinite;
}
@keyframes spinLeaf {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */

/* ボールが跳ねるアニメーション */
.ball-loader {
  width: 200px;
  height: 200px;
  background: url('../img/ball.webp') no-repeat center center;
  background-size: contain;
  animation: bounce 2s ease infinite;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/* 色見本用テストコード */
/* h2 {
  font-weight: 600;
  background-color:  #98FF98;
  color: #006400;
} */
/* 色見本用テストコード */
/* h2 {
  font-weight: 600;
  background-color:   #508370;
  color: #FFFFF0;
} */

.heading {
  font-weight: 600;
  background-color:  #CCFFCC;
  color: #004D40;
}
.hero {
  width: 100%;
}
section {
  background-color: #fff;
  width: 90%;
  margin: auto;
}

.contact .col-6 {
  padding: 0;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.carousel-fixed-text {
  z-index: 10;
  bottom: 20%;
  left: 10%;
}

.contactform-fixed-text {
  z-index: 10;
  bottom: 20%;
  left: 10%;
}
.masked {
  position: relative;
}

.masked::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3); /* 0.5 は透明度を表し、0.0（完全透明）から1.0（完全不透明）まで調整可能です */
}

.section-header {
  position: relative;
  padding: 1em 2em;
  text-align: center;
}

.section-header:before,
.section-header:after {
  position: absolute;
  content: '';
}

.section-header:after {
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
}

.section-header:before {
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

footer {
  background-color: rgba(13, 114, 11, .5);
  height: 50vh;
}


/* philosophy */
.fade-in {
  animation-name: fade-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

/* profile */
.greet {
  /* border-bottom: 3px solid rgba(13, 114, 11, .5); */
  border-top: 3px solid rgba(13, 114, 11, .5);
}

/* AnimationsCss */
/* 初期状態として非表示にする */
.slide-right-content,
.slide-left-content,
.slide-bottom-content,
.slide-top-content,
.slide-in {
    opacity: 0;
    visibility: hidden;
}

/* .visibleクラスが追加されたら表示 */
.visible {
    opacity: 1;
    visibility: visible;
}

/* 左からのスライドイン */
@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation-name: slide-in-left;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

/* 右からのスライドイン */
@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
  animation-name: slide-in-right;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}



/* 下から上へのスライドイン */
@keyframes slide-in-bottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-bottom {
  animation-name: slide-in-bottom;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

/* 上から下へのスライドイン */
@keyframes slide-in-top {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-top {
  animation-name: slide-in-top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* フェードイン */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
    opacity: 0;
    transition: opacity 1s;
}

.visible.fade-in {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

